{% extends "layout.html" %} {% block content %}
<p class="w3-large">
    <br> <br> <br> <b>Confirm Quiz :</b>
</p>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img src="{{ url_for('static', filename=filename) }}" class="responsiveimg">
    </div>
    <div class="w3-col m6">
        <form action="{{ url_for('solve') }}" method="post">
            <div class="grid-container">
                {% for i in range(9) %} {% for j in range(9) %}
                <div class="input-field grid-item w3-border nums">
                    <input type="text" value="{{ quiz[i][j] }}" name="{{ i }}_{{ j }}">
                </div> {% endfor %} {% endfor %}
            </div>
            <br>
            <div class="w3-center">
                <button type="submit" class="btn w3-indigo">Solve</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}